@media only screen and (min-width:1299px) {
    header{
        .container-fluid{
            padding: 0px 100px;
        }
        &.isFixed {
            .container-fluid{
                padding: 0px 100px;
            }
        }
    }
    footer{
        .container-fluid{
            padding: 0px 100px;
        }
    }
    .contact{
        .container{
            padding: 50px 0;
        }
    }
    .homer-banner  {
      
        .container-fluid {
            .row {
                .text{
                    .content{
                        padding: 100px 0px 0px 150px;
                    }
                }
            }
        }
    }
    .about{
        .container-fluid{
            .row{
                .strategy,.creativ, .digital {
                    .text{
                        p{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    .work {
        .container-fluid{
            padding: 30px 100px;
        }
    }
    .news {
        .container-fluid{
            padding: 100px 100px;
        
        }
    }
}
@media screen and (max-width:1299px) {
    .homer-banner  {
        .container-fluid {
            .row {
                .text{
                    .content{
                        padding: 100px 0px 0px 20px;
                    }
                }
            }
        }
    }
    .news,.work{
        .container-fluid{
            .row{
                .right{
                    h2{
                        width: 100%;
                    }
                }
            }
        }
    }
    .news{
        .container-fluid{
            .title{
                font-size: 100px;
            }
        }
    }
    .about{
        .container-fluid{
            .row{
                .strategy,.creativ, .digital{
                    .text{
                        p{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .news-content{
        .container-fluid{
            .row{
                .news-padding{
                    padding: 50px;
                }
            }
        }
    }
    header{
        .container-fluid{
            .row{
                nav{
                    .header-right{
                        .apply{
                            right: 120px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {
   
    .work,.news {
        .container-fluid {
            .row {
                .right{
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
        }
    }
}
@media screen and (max-width: 991px){
    .homer-banner  {
        .container-fluid {
            .row {
                .text{
                    .content{
                        padding: 20px 0px 0px 20px;
                        .upvideo{
                           display: none;
                        }
                    }
                }
                .picture{
                    .video{
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 2;
                        transform: translate(-50%,-50%);
                        a{
                            span{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    
    header {
        .container-fluid {
            .row {
                nav {
                    .header-left {
                        .header-left-text{
                            display: none;
                        }
                    }
                    .header-right{
                        .modal{
                            .modal-dialog{
                                .modal-content{
                                    .modal-body{
                                        padding-right: 30px;
                                        ul{
                                            li{
                                                a{
                                                    font-size: 85px;
                                                }
                                            }
                                        }
                                    }
                                    .modal-header{
                                        .btn-close{
                                            right: 30px;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
    .banner{
        height: 30vh;
        &::before{
            height: 30vh;
        }
    }

    .works{
        .container {
            padding: 50px 50px;
            .row{
                .menu{
                    .works-button{
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        button{
                            padding: 0 10px;
                        }
                    }
                }

                .portfolio_gallery{
                    padding-top: 40px;
                }
            }
        }
    }
    .work{
        .container-fluid{
            padding: 20px 10px;
            .row {
                .left{
                    h2{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
                .right{
                    width: 20%;
                    position: absolute;
                    bottom: -65px;
                    right: 0;
                }
            }
        }
    }
    .about{
        margin-top: 50px;
        .container-fluid{
            .row{
                .digital {
                    .title{
                        margin-right: 0px;
                    }
                    
                }
                .strategy{
                    grid-template-areas:
                    "title"
                    "textt";
                    grid-template-columns:1fr;
                    margin-bottom: 40px;
                    .title{
                        margin-left: 0px;
                        padding-bottom: 40px;
                    }
                    .text{
                        text-align: center;
                        width: 60%;
                        justify-content: center;
                        margin: auto;
                    }
                }
                .creativ,.digital,.strategy{
                    text-align: center;
                    .title{
                        h2{
                            letter-spacing: normal;
                        }
                    }
                }
                .creativ{
                    margin-bottom: 40px;
                    .title{
                        order: -1;
                    }
                    .text{
                        text-align: center;
                        width: 60%;
                        justify-content: center;
                        margin: auto;
                    }
                }
                .digital{
                    grid-template-areas:
                    "digtaltitle"
                    "digitaltext";
                  
                    grid-template-columns:1fr;
                    .title{
                        margin-left: 0px;
                    }
                    .text{
                        text-align: center;
                        width: 60%;
                        justify-content: center;
                        margin: auto;
                    }
                }
            }
        }
    }
    .team  {
        .container-fluid{
            .row {
                .team_left{
                    flex-direction: column;
                    padding: 30px 0;
                    .title {
                        h2{
                            font-size: 50px;
                        }
                    }
                    .logo_team{
                        margin-bottom: 40px;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        .image{
                            .mobile{
                                display: block;
                            }
                            .desktop{
                                display: none;
                            }
                        }
                        span{
                           margin-top: 30px;
                           color: #fff;
                           font-size: 18px;
                           width: 70%;
                           text-align: center;
                           line-height: 1.2;
                           padding-left: 0px;
                        }
                    }
                    .title{
                        margin: 40px 30px;
                        h2{
                            letter-spacing: 1vw;
                            font-size: 70px;
                        }
                    }
                }
            }
        }
    }
    .news{
        margin-top: 50px;
        position: relative;
        margin-bottom: 70px;
        .container-fluid{
            .title{
                font-size: 70px;
                width: 100%;
                padding: 0;
                margin-bottom: 30px;
                text-align: center;
            }
            .row{
                .left{
                    margin-bottom: 10px;
                }
                .right{
                    width: 30%;
                    position: absolute;
                    bottom: -65px;
                    right: 0;
                }
            }
        }

        &.details{
            .container-fluid{
                .row{
                    .box{
                        .image{
                            img{
                                height: initial;
                            }
                        }
                    }
                }
            }
        }
    }

    .news-content{
        .container-fluid{
            .row{
                .news-padding{
                    .image{
                        img{
                            height: initial;
                        }
                    }
                }
            }
        }
    }

    .news_all{
        .container{
            padding: 50px 0;
        }
    }
    .partners {
        .container {
            .row {
                .partners_all{
                    padding: 20px 40px;
                    .content{
                        h2{
                            text-transform: lowercase;
                        }
                        span{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .work_banner{
        height: 25vh;
        .work-banner-inner{
            padding: 100px 0;
        }
    }
    .work-project-images {
        .container-fluid {
            .row {
                .resize-images {
                    .back-project{
                        display: none;
                    }
                }
            }
        }
    }
    

    .work_detail_author{
        .container{
            .row{
                .information_work_detail{
                    padding: 30px 0;
                }
            }
        }
    }

    .work_text{
        .container{
            .row{
                .top{
                    justify-content: initial;
                    .content{
                        h2{
                            width: 100%;
                        }
                        span{
                            padding: 0;
                        }
                    }
                }

                .bottom{
                    justify-content: initial;
                    .content{
                        padding: 20px 0px;
                        text-align: justify;
                    }
                }
            }
        }
    }

    .work-bottom{
        &.details{
            .container-fluid{
                .row{
                    .box{
                        flex-direction: column;
                        .image{
                            img{
                                height: initial;
                            }
                        }
                    }

                    .left{
                        order: -1;
                    }
                }
            }
        }
    }
    
    footer {
        .container-fluid {
            .row {
                .footer-top {
                    .inner {
                        padding: 5px;
                        .content{
                            &.social{
                                flex-direction: row;
                                span:not(:first-child){
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
                .footer-bottom{
                    margin-top: 40px;
                    flex-direction: column;
                    .location{
                        width: 100%;
                    }
                }
            }
        }
    }
    .contact {
        .container {
            .row {
                .left {
                    .content{
                        width: 100%;
                        justify-content: center;
                    }
                }
                .right{
                    margin-top: 50px;
                    .content{
                        padding-right: 0px;
                        justify-content: flex-start;
                        .inner-content{
                            .subscribe {
                                input{

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    header{
        .container-fluid{
            .row{
                nav{
                    .header-right{
                        .apply{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .banner{
        .container-fluid{
            .row{
                .image{
                    i{
                        font-size: 14px;
                    }
                    span{
                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .works{
        .container {
            padding: 50px 20px;
            .row{
                .menu{
                    .works-button{
                        button{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .homer-banner {
        .container-fluid {
            .row {
                .text {
                    .content {
                        h2{
                            width: 100%;
                        }
                    }
                }
                .upvideo{
                    span{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .about{
        .container-fluid{
            .row{
                .strategy, .creativ, .digital{
                    flex-direction: column;
                    .title{
                        h2{
                            font-size: 66px;
                        }
                    }
                    .text{
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .team {
        .container-fluid{
            .row {
                .team_left {
                    .title{
                        h2{
                            font-size: 45px;
                            letter-spacing: normal;
                        }
                    }
                }
            }
        }
    }
    .work_text{
        .container{
            .row{
                .top{
                    .content{
                        h2{
                            width: 65%;
                            font-size: 32px;
                        }
                        span{
                            padding: 10px 0;
                            width: 70%;
                            font-size: 12px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .work_detail_author{
        .container{
            .row{
                .information_work_detail{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
                    grid-row-gap: 4rem;
                    padding: 30px 30px;
                }
            }
        }
    }

    .work-bottom{
        .container-fluid{
            padding: 0;
        }
    }

    .news-content{
        .container-fluid{
            .row{
                .news-padding{
                    padding: 0px;
                    .image{
                        padding-top: 20px;
                    }
                    .content-top{
                        padding: 20px;
                        h2{
                            font-size: 32px;
                        }
                        p{
                            width: 100%;
                        }
                    }

                    .content-bottom{
                        padding: 10px 20px;
                        p{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .news_detail_author{
        .container{
            .row{
                .information{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
                    grid-row-gap: 4rem;
                    padding: 30px 30px;
                    .share{
                        height: 100%;
                        ul{
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .partners {
        .container {
            .row {
                .partners_all {
                    .content{
                        flex-direction: column;
                        h2{
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    footer {
        .container-fluid {
            .row {
                .footer-top {
                    flex-direction: column;
                    .content-menus{
                        order: -1;
                        .content{
                            flex-direction: row !important;
                            span{
                                text-decoration: underline;
                            }
                            span:not(:first-child){
                                padding-left: 10px;
                                
                            }
                            
                        }
                        .fot-news{
                            padding-left: 0px !important;
                            
                        }
                    }
                    .inner{
                        width: 100%;
                        .fot-logo{
                            order: 1;
                        }
                        .content{
                            &.logos{
                                .imag{
                                    display: none;
                                }
                            }
                            &.maps{
                                .phone-text{
                                    text-decoration: underline;
                                }
                                .mail-text{
                                    padding-top: 5px;
                                }
                            }
                            &.joins{
                                .join{
                                    text-decoration: underline;
                                }
                            }
                            &.social{
                                width: 100%;
                                flex-wrap: wrap;
                                span{
                                    position: relative;
                                    padding-top: 10px;
                                    a{
                                        text-decoration: underline;
                                    }
                                    &:not(:first-child)::before{
                                        content: '/';
                                        padding-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
               
            }
        }
    }
    .work {
        .container-fluid{
            .row {
                .right{
                    width: 50%;
                }
            }
        }
    }
    .work_banner::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.45);
        z-index: 2;
    }
    .news-content {
        .container-fluid {
            .row .news-padding {
                .content-top {
                    h2{
                        width: 100%;
                    }
                }
            }
        }
    }
    .contact {
        .container {
            .row {
               
                .right{
                 margin-bottom: 50px;
                    .content{
            
                        .inner-content{
                            width: 100%;
                            .subscribe {
                                input{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 565px){
    .works{
        .container {
            .row{
                .portfolio_gallery{
                    .box{
                        width: 100%;
                    }
                }
            }
        }
    }
    .work_banner{
        height: 17vh;
    }
    .work_text{
        .container {
            padding: 50px 20px;
            .row{
                .top{
                    .content{
                        h2{
                            width: 80%;
                        }
                        span{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    .about {
        .container-fluid{
            .row {
                .strategy,.creativ, .digital{
                    .title{
                        h2{
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
    header {
        .container-fluid {
            .row {
                nav {
                   
                    .header-right{
                        .modal{
                            .modal-dialog{
                                .modal-content{
                                    .modal-body{
                                       
                                        ul{
                                            li{
                                                a{
                                                    font-size: 78px;
                                                }
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
        &.isFixed {
            .container-fluid{
                padding: 0px 10px;
            }
        }
    }
    .work_detail_author{
        .container{
            .row{
                .information_work_detail{
                    grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
                }
            }
        }
    }
}